<!--This is used for generating the user page-->
<section>
 <div>
<!--in progress: adding wins, loses, and ties together -->
<h2>Games played: {{user.wins + user.loses + user.ties}}</h2>
<h2>Wins:{{user.wins}}</h2>
<h2>Loses:{{user.loses}}</h2>
<h2>Ties:{{user.ties}}</h2>
<!--in progess: applying a proper syntex to create win percentage-->
<h2>Win Percentage:{{user.wins / user.loses}}</h2>    
</div>

<button class="btn btn-primary" type="button">Reset Stats</button>
<button class="btn btn-primary" type="button">Search for User</button>
<button class="btn btn-primary" type="button">Play</button>
</section>