<!--This is used for generating the user profile-->
<section>
  <div>
<!--in progress: adding wins, loses, and ties together -->
<h2>Games played: {{user.wins + user.loses + user.ties}}</h2>
<h2>Wins:{{user.wins}}</h2>
<h2>Loses:{{user.loses}}</h2>
<h2>Ties:{{user.ties}}</h2>
<!--in progess: applying a proper syntex to create win percentage-->
<h2>Win Percentage:{{user.wins / user.loses}}</h2>    
</div>
<!--Placeholer for Badge and Pie Chart-->

<button class="btn btn-primary" type="button" id="toGamePage">Challenges This Player</button>
<button class="btn btn-primary" type="button" id="sendMessage">Send Message</button>
</section>